html, body, header, div, a, svg,
main, span, footer, h1, figure, figcaption {
    padding: 0;
    margin: 0;
}
body {
    font-family: ui-sans-serif, system-ui, 
    -apple-system, BlinkMacSystemFont, "Segoe UI", 
    Roboto, "Helvetica Neue", Arial, "Noto Sans", 
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", 
    "Segoe UI Symbol", "Noto Color Emoji";
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 768px) {
    .wrapper {
    grid-template-columns: repeat(4, minmax(0, 1fr));
    position: relative;
    }
}

.flex {display: flex;}
.w-6 {width: 1.5rem;}
.h-6 {height: 1.5rem;}
.ml-2 {margin-left: 0.5rem;}
.aside h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: .5rem;
    font-weight: 400;
}
.aside {
    width: 25%;
    background-color: rgba(31, 41, 55, 1);
    color: white;
    min-height: 100vh;
    line-height: 1.5rem;
    display: none;
    position: fixed;
}
@media (min-width: 768px) {
    .aside {
    display: flex;
    grid-column-start: 1;
    }
}
.aside-box {
    width: 91.666667%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 1.5rem;
}
.aside img {
    width: 8rem;
    height: 8rem;
    border-radius: 9999px;
    object-fit: cover;
    margin: .5rem auto 0 auto;
}
.aside a {
    text-decoration: none;
}
.aside button {
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    background-color: rgba(75, 85, 99, 1);
    border: none;
    color: white;
    border-radius: 3px;
}
svg, a {color: white;}
.box-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.box-bottom button {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
}
.box-bottom div {
    display: grid;
    gap: .5rem;
}
hr {border: 1px solid gray;}

.mobile-header {
    background-color: rgba(31, 41, 55, 1);
    color: white;
}
@media (min-width: 768px) {
    .mobile-header {
    display: none;
    }
}
.mobile-header > div {
    width: 91.666667%;
    margin: auto;
    display: flex;
    padding: 0.5rem;
}
.mobile-header svg {
    border: 1px solid;
    cursor: pointer;
    width: 2.25rem;
    height: 2.25rem;
}
.mobile-header h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: auto;
}
main {grid-column: span 3 / span 3;}
@media (min-width: 768px) {
    main {
    grid-column-start: 2;
    }
}
footer {
    background-color: rgba(229, 231, 235, 1);
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }